<div class="playDemo">
	<label class="demo_label">Input</label>
	<select name="method" class="demo_method">
		<option value="get">GET</option>
		<option value="post">POST</option>
	</select>
	<input type="text" name="url" value="" placeholder="Type an api url to test here" class="demo_url" />
	<textarea name="parameters" class="demo_parameters" />
	<button class="demo_button">Request</button>
	<label class="demo_label">Output</label>
	<div class="output">
		<textarea name="output" class="demo_output" />
	</div>
</div>