<div class="identity-login-box dialog">
	<div class="box-header">
		<div class="login-ico" />
		<div class="btn-close" />
	</div>
	<div class="box-main login">
		<div class="bx-hd">Login</div>
		<div class="sc-container">
			<div class="social">
				<a class="btn_social fb" target="_self" />
				<a class="btn_social gp" target="_self" />
				<a class="btn_social gh" target="_self" />
				<a class="btn_social tt" target="_self" />
				<a class="btn_social lin" target="_self" />
				<a class="btn_social win" target="_self" />
			</div>
			<div class="login_or">OR</div>
		</div>
		<div class="formContainer" />
	</div>
	<div class="box-main register hidden">
		<div class="bx-hd">Sign Up</div>
		<div class="sc-container">
			<div class="login_or">OR</div>
		</div>
		<div class="formContainer" />
		<div class="terms">
			<div class="ico" />
			<div class="bx-sub">By clicking sign-up you agree to our <a class="a-terms" target="_blank"><b>Terms of Service</b></a> and our <a class="a-privacy" target="_blank"><b>Privacy Policy</b></a>.</div>
		</div>
	</div>
	<div class="box-main success hidden">
		<div class="ico" />
		<div class="bx-succ-title" />
	</div>
	<div class="box-main recover hidden">
		<div class="bx-hd">Password Recovery</div>
		<div class="bx-sub">Please enter your email and we will send you directions on how to reset your password.</div>
		<div class="formContainer" />
		<div class="bx-sub action reset">I have a reset code.</div>
	</div>
	<div class="box-main reset hidden">
		<div class="bx-hd">Password Reset</div>
		<div class="bx-sub">Enter the reset code that you received and your new password.</div>
		<div class="formContainer" />
		<div class="bx-sub action recover">I don't have a reset code.</div>
	</div>
	<div class="box-footer">
		<div class="ft-lnk hidden login" data-fref="login" data-literal='{"scope":"loginbox","name":"lbl_ft_login"}' />
		<div class="ft-lnk-bull login hidden">&bull;</div>
		<div class="ft-lnk register" data-fref="register" data-literal='{"scope":"loginbox","name":"lbl_ft_register"}' />
		<div class="ft-lnk-bull recover register">&bull;</div>
		<div class="ft-lnk recover" data-fref="recover" data-literal='{"scope":"loginbox","name":"lbl_ft_reset"}' />
	</div>
</div>