<div class="applicationSettings">
	<div class="navigation">
		<div class="navitem billing selected" data-literal='{"scope":"settings.menu","name":"lbl_navitem_billing"}' />
		<div class="navitem demo" data-literal='{"scope":"settings.menu","name":"lbl_navitem_demo"}' />
		<div class="navitem keys" data-literal='{"scope":"settings.menu","name":"lbl_navitem_keys"}' />
		<div class="navitem notifications" data-literal='{"scope":"settings.menu","name":"lbl_navitem_emailing-users"}' />
		<div class="navitem permissions" data-literal='{"scope":"settings.menu","name":"lbl_navitem_permissions"}' />
	</div>
	<div id="settings-list" class="settings-list" />
</div>