.demoInfo {
	& {
		text-align: center;
		color: #5E6570;
	}
	h1.hd {
		font-size: 14px;
		margin: 10px 0px;
	}
	p.sub {
		font-size: 12px;
		line-height: 16px;
	}
	.code {
		& {
			width: 80%;
			margin: 20px auto;
			padding: 10px 15px;
			border: 1px solid #CCC;
			background: #DDD;
			overflow: auto;
			text-align: center;
		}
		div, span {
			margin: 5px 0px;
		}
	}
}