<div class="formWizard">
	<div title="HTML Form Preview - Sample Code" class="step html_sample open">
		<h2 class="step__title" data-literal='{"scope":"forms.wizard","name":"hd_step_htmlSample"}'>
			<span class="step__number">1</span>
		</h2>
		<div class="step__body">
			<div class="wbutton continue">Continue</div>
			<div id="copy-html-code" data-clipboard-target="formHTMLEditor_cm-cm-textarea" data-clipboard-text="Error at copying the embedded code." class="wbutton copy">Copy the html code</div>
			<div class="copylabel copy-html-label">Html copied to clipboard...</div>
		</div>
	</div>
	<div title="API Configuration" class="step api">
		<h2 class="step__title" data-literal='{"scope":"forms.wizard","name":"hd_step_apiConfig"}'>
			<span class="step__number">2</span>
		</h2>
		<div class="step__body">
			<h2 class="ntf">You don't have any public keys. Go to settings and get one!</h2>
			<div class="languageContainer" />
			<div id="backendContainer" class="editorContainer" />
			<p class="text">For more information on how the API works, see the this <a href="http://developers.drov.io/docs/APIs/Identity/API" target="_blank">full documentation guide</a>.</p>
		</div>
	</div>
	<div title="Embedding to your page" class="step social final">
		<h2 class="step__title" data-literal='{"scope":"forms.wizard","name":"hd_step_socialLogins"}'>
			<span class="step__number">3</span>
		</h2>
		<div class="step__body">
			<h3 class="text">We are working hard to bring you the best experience using social logins on your website. Coming soon.</h3>
			<div class="wbutton next_form">Next Form</div>
		</div>
	</div>
</div>