.social-login-settingsContainer {
	position: absolute;
    	top: 46px;
    	bottom: 46px;
    	width: 75%;
	clear: both;
	.social-logo {
		width: 150px;
		height: 50px;
	}
	.social-logo.facebook{
			background: url("%{media}/social_logo/facebook-logo.svg");
			background-size: cover;
		}
	.social-logo.google{
			background: url("%{media}/social_logo/google-logo.svg");
			background-size: cover;
		}
		
}