.guide {
	padding: 10px;
}

.guide .subtitle {
	padding: 5px 10px;
	font-weight: 900;
}

.guide .instructions {
	margin-bottom: 20px;
}

.guide .instructions:last-child {
	margin-bottom: 0px;
}

.guide .instructions .redirect_uri {
	font-size: 1.1em;
	padding: 3px 5px;
	background: #EEE;
	border: 1px solid #CCC;
	margin-top: 5px;
}

.guide a.link {
	color: #ff5252;
}