.setupApplicationContainer {
	& {
		height: 100%;
		width: 100%;
		position: relative;
	}
	.setupApplication {
		height: 100%;
		width: 100%;
		position: relative;
	}
	.step-container {
		& {
			text-align: center;
			color: #f2f2f2;
			position: absolute;
			top: 0px;
			bottom: 50px;
			width: 100%;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
		}
		.step-counter {
			position: absolute;
			top: 0px;
			height: 50px;
			width: 100%;
			padding: 10px 20px;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			text-align: center;
		}
		.step {
			& {
				display: none;
				height: 100%;
				width: 100%;
				position: relative;
				padding: 100px 0px 20px;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
			}
			&.active {
				display: block;
			}
			.step-icon {
				width: 100px;
				height: 100px;
				margin: 0 auto;
				margin-bottom: 20px;
				background: url('%{media}/dashboard/setup/setupIcons.svg') no-repeat center;
				background-size: cover;
				opacity: 0.5;
				transition: all .2s ease-in-out;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
			}
			&.welcome .step-icon {
				background-position: 0px 0px;
			}
			&.db .step-icon {
				background-position: 0px -100px;
			}
			&.settings .step-icon {
				background-position: 0px -200px;
			}
			&.auth .step-icon {
				background-position: 0px -300px;
			}
			&.import .step-icon {
				background-position: 0px -400px;
			}
			&.pricing .step-icon {
				background-position: 0px -500px;
			}
			h1.title {
				font-size: 2.6em;
				font-weight: normal;
				margin: 20px;
			}
			h2.sub {
				font-size: 1.4em;
				font-weight: normal;
				margin: 15px;
			}
			&.db {
				form.create_team_form {
					& {
						margin-top: 40px;
					}
					.finput {
						font-size: 1em;
						width: 250px;
						background: none;
						border: none;
						color: #f2f2f2;
						padding: 6px 10px;
						border-bottom: 1px solid #41576E;
						outline: none;
					}
				}
				.create_team_success {
					& {
						margin-top: 30px;
					}
					.success_ico {
						width: 50px;
						height: 50px;
						margin: 0 auto 20px;
						background: url('%{resources}/dashboard/setup/success_tick.svg') no-repeat center;
						background-size: cover;
					}
					.success_title {
						font-size: 1em;
						font-weight: normal;
					}
				}
			}
			form {
				.fbutton {
					background: none;
					color: #f2f2f2;
					border: 1px solid #41576E;
					border-radius: 3px;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					padding: 6px 10px;
					width: 150px;
					margin: 20px 10px 0px;
					cursor: pointer;
					box-sizing: border-box;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					transition: all .2s ease-in-out;
					-webkit-transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
				}
				.fbutton:hover {
					background: #41576E;
					transition: all .2s ease-in-out;
					-webkit-transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
				}
			}
			&.settings {
				.step-icon {
					width: 100px;
					height: 100px;
					margin: 0 auto;
					margin-bottom: 20px;
					background: url('%{media}/dashboard/setup/stIcon.svg') no-repeat center;
					background-size: cover;
					opacity: 0.5;
					transition: all .2s ease-in-out;
					-webkit-transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
				}
				.formContainer {
					width: 500px;
					margin: 30px auto 0px;
				}
			}
		}
		.step-buttons {
			& {
				margin-top: 50px;
				width: 100%;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				align-content: center;
			}
			.step-btn {
				& {
					display: block;
					color: #f2f2f2;
					cursor: pointer;
					opacity: 0.7;
					transition: all .2s ease-in-out;
					-webkit-transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					align-content: center;
				}
				.step-btn-ico {
					width: 32px;
					height: 32px;
					background: url('%{resources}/dashboard/marrow.svg') no-repeat center;
					background-size: cover;
					border: 2px solid #41576E;
					border-radius: 50%;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					margin: 0px 10px;
					box-sizing: border-box;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					transition: all .2s ease-in-out;
					-webkit-transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
				}
				.step-btn-title {
					line-height: 32px;
					font-size: 1.2em;
				}
				&:hover {
					& {
						opacity: 1;
						transition: all .2s ease-in-out;
						-webkit-transition: all .2s ease-in-out;
						-moz-transition: all .2s ease-in-out;
					}
					.step-btn-ico {
						background-color: #41576E;
						transition: all .2s ease-in-out;
						-webkit-transition: all .2s ease-in-out;
						-moz-transition: all .2s ease-in-out;
					}
				}
			}
		}
	}
	.setup-footer {
		& {
			position: absolute;
			bottom: 0px;
			width: 100%;
			text-align: center;
			color: #f2f2f2;
			height: 50px;
		}
		p.copyright {
			font-size: 1em;
			line-height: 20px;
			padding: 15px 30px;
			margin: 0px;
		}
		a {
			color:#ff5252;
		}
	}
}