<div class="userDetails">
	<div class="header">
		<div class="close_button" />
		<span>User Details</span>
	</div>
	<div class="side-info">
		<div class="profilePic"/>
		<div class="actions"/>
	</div>
	<div class="main-content">
		<div class="basic-info">
			<div class="row name">
				<div class="label">Name:</div>
				<div class="value"></div>
			</div>
			<div class="row email">
				<div class="label">Email:</div>
				<div class="value"></div>
			</div>
			<div class="row username">
				<div class="label">Username:</div>
				<div class="value"></div>
			</div>
		</div>
		<ul class="menu">
			<li class="menu_item sessions selected" data-literal='{"scope":"users.details","name":"lbl_menu_sessions"}' />
			<li class="menu_item permissions" data-literal='{"scope":"users.details","name":"lbl_menu_permissions"}' />
		</ul>
		<div id="detailsContainer" class="whiteBox" />
	</div>
</div>