<div class="demoPopup">
	<div class="close_button" />
	<div class="header" data-literal='{"scope":"demo","name":"hd_liveDemo"}' />
	<div class="demo">
		<div class="demo-menu">
			<div class="demo-menu-item login">
				<div class="ico" />
				<div class="title" data-literal='{"scope":"demo","name":"lbl_menu_login"}' />
			</div>
			<div class="demo-menu-item uinfo">
				<div class="ico" />
				<div class="title" data-literal='{"scope":"demo","name":"lbl_menu_uinfo"}'/>
			</div>
		</div>
		<div class="demoContainer" />
	</div>
</div>