<div class="aboutApplication">
	<h1 class="hd">Drovio User Management System</h1>
	<p>Through this application you have direct access to all of your team users. Features:</p>
	<ul>
		<li>• List all team users</li>
		<li>• Create registration, login and recovery forms</li>
		<li>• Access to the entire API with full documentation</li>
		<li>• Manual action to send user directions to recover their password</li>
		<li>• Basic insights</li>
	</ul>
	<p>Some icons used in this application are inspired and made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>, licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
</div>