<div class="userList">
	<div class="listContainer">
		<div class="controls">
			<h1 class="hd user_counter" />
			<div class="actionsContainer">
				<div class="action export" title="Export Users" />
				<div class="action add" title="Add User" />
				<div class="action search" title="Search">
					<input type="text" class="searchInput" placeholder="Search users..." autofocus="">
				</div>
			</div>
		</div>
		<div class="no_users">
			<h2 class="hd" data-literal='{"scope":"users.list","name":"hd_noUsers"}' />
			<div class="ql">
				<div class="qlink add">
					<div class="ico" />
					<div class="title" data-literal='{"scope":"users.list","name":"lbl_ql_add"}' />
				</div>
				<div class="qlink forms">
					<div class="ico" />
					<div class="title" data-literal='{"scope":"users.list","name":"lbl_ql_setup"}' />
				</div>
			</div>
		</div>
		<div class="list" />
		<div class="pagination">
			<div class="pg-btn previous" />
			<div class="pg-btn next" />
			<div class="pg-text" />
		</div>
	</div>
</div>