<div class="embeddedForms">
	<div class="navigation">
		<div class="navitem registration selected" data-literal='{"scope":"forms.menu","name":"lbl_navitem_registration"}' />
		<div class="navitem login" data-literal='{"scope":"forms.menu","name":"lbl_navitem_login"}' />
		<div class="navitem recovery" data-literal='{"scope":"forms.menu","name":"lbl_navitem_recovery"}' />
		<div class="navitem social" data-literal='{"scope":"forms.menu","name":"lbl_navitem_social"}' />
	</div>
	<div id="forms-list" class="forms-list">
		<div id="reg_form" class="fsection">
			Registration form
		</div>
		<div id="login_form" class="fsection">
			Login form
		</div>
		<div id="rec_form" class="fsection">
			Recovery form
		</div>
		<div id="social_plg" class="fsection">
			Social Plugins
		</div>
	</div>
</div>