<div class="formExplorer">
	<h1 class="hd" data-literal='{"scope":"forms.explorer","name":"hd_setupForms"}' />
	<p class="sub" data-literal='{"scope":"forms.explorer","name":"hd_setupForms_sub"}' />
	<ul class="wz-menu">
		<li class="wz-menu-item registration">
			<div class="ico" />
			<div class="title" data-literal='{"scope":"forms.explorer","name":"lbl_menu_registrationForm"}' />
		</li>
		<li class="wz-menu-item login">
			<div class="ico" />
			<div class="title" data-literal='{"scope":"forms.explorer","name":"lbl_menu_loginForm"}' />
		</li>
		<li class="wz-menu-item recover">
			<div class="ico" />
			<div class="title" data-literal='{"scope":"forms.explorer","name":"lbl_menu_recoverForm"}' />
		</li>
	</ul>
	<div class="wizardContainer" />
</div>