<div class="appOverview">
	<h1 class="hd" data-literal='{"scope":"overview","name":"hd_overview"}' />
	<p class="sub">Activity Log</p>
	<div class="dactivity">
		<div class="dact d1">
			<div class="count" />
			<div class="title">Signups Today</div>
		</div>
		<div class="dact d7">
			<div class="count" />
			<div class="title">Signups Last 7 Days</div>
		</div>
		<div class="dact d30">
			<div class="count" />
			<div class="title">Signups Last 30 Days</div>
		</div>
	</div>
	<p class="sub">Quick Links</p>
	<div class="qlinks">
		<div class="ql users">
			<div class="ico" />
			<div class="title" />
		</div>
		<div class="ql forms">
			<div class="ico" />
			<div class="title" data-literal='{"scope":"overview","name":"lbl_ql_forms"}' />
		</div>
		<div class="ql api">
			<div class="ico" />
			<div class="title" data-literal='{"scope":"overview","name":"lbl_ql_api"}' />
		</div>
	</div>
</div>