<div class="userDetails">
	<div class="header" data-literal="{"scope":"main.export","name":"hd_exportContacts"}">
		<div class="close_button" ></div>
	</div>
	<div class="profilePic"/>
	<div class="basic-info">
		<div class="row">
			<div class="label">Name:</div>
			<div class="value"></div>
		</div>
		<div class="row">
			<div class="label">Username:</div>
			<div class="value"></div>
		</div>
		<div class="row">
			<div class="label">Email:</div>
			<div class="value"></div>
		</div>
	</div>
	<div class="active-sessions">
		<span class="subtitle"> Active Sessions </span> 
		<div class="headers">
			<div class="column-title">IP</div>
			<div class="column-title">Last update</div>
			<div class="column-title">Device Type</div>
			<div class="column-title"> </div>
		</div>
	</div>
		
	<div class="actions"/>
		
	<p data-literal="{"scope":"main.export","name":"lbl_exportDesc"}">
	<div class="formContainer" />
	<div class="downloaderContainer"></div>
</div>