<div class="userManagement">
	<div class="navbar">
		<div class="applogo">
			<div class="ico" />
			<div class="hd" data-literal='{"scope":"main.nav","name":"hd_app_title"}' />
		</div>
	</div>
	<div class="mainViewContainer">
		<div class="sidebar">
			<div class="side_menu">
				<div class="menuitem overview selected" data-literal='{"scope":"main.menu","name":"lbl_menu_overview"}'>
					<div class="ico" />
					<div class="reload" />
				</div>
				<div class="menuitem users" data-literal='{"scope":"main.menu","name":"lbl_menu_users"}'>
					<div class="ico" />
					<div class="reload" />
				</div>
				<div class="menuitem social" data-literal='{"scope":"main.menu","name":"lbl_menu_socialSettings"}'>
					<div class="ico" />
					<div class="reload" />
				</div>
				<div class="menuitem forms" data-literal='{"scope":"main.menu","name":"lbl_menu_forms"}'>
					<div class="ico" />
					<div class="reload" />
				</div>
<!--				<div class="menuitem api" data-literal='{"scope":"main.menu","name":"lbl_menu_api"}'>
					<div class="ico" />
					<div class="reload" />
				</div>-->
				<div class="mseparator" />
				<div class="menuitem settings" data-literal='{"scope":"main.menu","name":"lbl_menu_settings"}'>
					<div class="ico" />
					<div class="reload" />
				</div>
				<div class="menuitem about" data-literal='{"scope":"main.menu","name":"lbl_menu_about"}'>
					<div class="ico" />
					<div class="reload" />
				</div>
				<div class="mseparator" />
				<div class="menuitem demo" data-literal='{"scope":"main.menu","name":"btn_demo"}'>
					<div class="ico" />
					<div class="reload" />
				</div>
			</div>
			<div class="try_me" />
		</div>
		<div id="appMainContent" class="mainContent">
			<div class="welcome_notification">
				<div class="ntf-header">
					<div class="close_button" />
					<div class="hd" data-literal='{"scope":"main.ntf","name":"hd_welcome"}' />
				</div>
				<div class="ntf-body">
					<p class="sub" data-literal='{"scope":"main.ntf","name":"lbl_databaseSetup"}' />
					<p class="sub demo"/>
				</div>
			</div>
		</div>
	</div>
</div>